#demo{
    color: blue;
}

.four-04{
    margin: 0;
    padding:5px 10px;
    position:absolute;
    top:0;
    right:0;
    background-color: red;
    border-radius: 0 5px 0 0;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.err_contain{
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    color: #333;
    background-color: white;
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1)
}
.err_contain img {
    width: 50px;
    float: left;
}
.err_contain h1{
    font-size: 35px;
    margin-bottom: 0;
    padding-top: 0;
}
.err_message{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
.classy_btn{
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: #ccc;
    padding: 10px;
    margin: 15px 0;
    margin-right: 5px;
    border-radius: 3px;
    display: inline-block;

    background: rgba(125,192,255,1);
    background: -moz-linear-gradient(top, rgba(125,192,255,1) 0%, rgba(7,112,224,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(125,192,255,1)), color-stop(100%, rgba(7,112,224,1)));
    background: -webkit-linear-gradient(top, rgba(125,192,255,1) 0%, rgba(7,112,224,1) 100%);
    background: -o-linear-gradient(top, rgba(125,192,255,1) 0%, rgba(7,112,224,1) 100%);
    background: -ms-linear-gradient(top, rgba(125,192,255,1) 0%, rgba(7,112,224,1) 100%);
    background: linear-gradient(to bottom, rgba(125,192,255,1) 0%, rgba(7,112,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dc0ff', endColorstr='#0770e0', GradientType=0 );
}
.classy_btn:hover{
    background: rgba(7,112,224,1);
}
.open_sgt{
    cursor: pointer;
}
.open-suggestions {
    display: none;
}
