form.reg_form{
  width: 500px;
}
.reg_form label,
.reg_form input{
  display: inline-block;
  width:100%;
}
.reg_form label{
  color: #333;
  margin-top: 10px;
}
.reg_form input{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  background-color: #f8f8f8;
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
}
.reg_form input:focus{
  outline: none;
  border-color: #1A84FF;
  background-color: white;
  box-shadow: inset 0 1px 5px rgba(0,0,0,0);
}
.reg_form input[type="button"]{
  background-color: #1A84FF;
  border: none;
  color: white;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  cursor: pointer;
  max-width: 170px;
}
.reg_form input[type="button"]:hover{
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5)
}
/*CSS to make default submit button for all forms */

input[type="button"]{
  background-color: #1A84FF;
  border: none;
  color: white;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
}
input[type="button"]:hover{
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5)
}
